<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      h1 {
        color: #ccb7e4;
        font-size: 4rem;
        margin: 4rem 0 2rem 0;
        text-shadow: 2px 2px 8px rgb(68, 17, 68);
      }
      body {
        background-image: linear-gradient(to right, #ebaee1, rgb(68, 17, 68));
        text-align: center;
      }
      button {
        border: none;
        margin: 2rem;
        background-color: #ebaee1;
        padding: 0.65rem 3rem;
        border-radius: 50px;
        font-size: 1rem;
        color: #4a375f;
        font-weight: 600;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to User-Diary-3</h1>
    <a href="/users/"><button>User Gallery</button></a>
  </body>
</html>
